body {
    background-color: lightgray;
    text-align: center;
    overflow: hidden;
}

/* Nav bar */
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bottom-text {
    position: relative;
    top: 40px;
    left: -8px;
    font-size: 17px;
    text-decoration: none;
}

.top-text {
    position: relative;
    left: 210px;
    margin-top: 20px;
    font-size: 17px;
}

.lock-image {
    height: 15px;
}

.sign-button {
    position: relative;
    margin-right: 40px;
    margin-top: 20px;
    padding: 10px;
    background-color: #0077C5;
    color: white;
    border-radius: 10px;

}

/* images */
.logo {
    height: 130px;
}

.mint {
    position: relative;
    height: 38px;
    right: 170px;
}

.mint-text {
    position: relative;
    bottom: 35px;
    right: 120px;
    font-size: 25px;
    opacity: 70%;
}

.thumb {
    position: relative;
    height: 38px;
    bottom: 65px;
    right: 58px;
}

.thumb-text {
    position: relative;
    bottom: 100px;
    right: -20px;
    font-size: 25px;
    opacity: 70%;
}

.turbotax {
    position: relative;
    height: 38px;
    bottom: 130px;
    left: 103px;

}

.turbotax-text {
    position: relative;
    bottom: 168px;
    right: -165px;
    font-size: 25px;
    opacity: 70%;
}

/* form styling */
/* #form-element {
    color: #4c4c4c;
    background: white;
    height: 631px;
    width: 400px;
    border: 0.1px solid #c7c7c7;
    border-radius: 1px;
    padding-top: 30px;
    padding-bottom: 100px;
    position: relative;
    bottom: 150px;
    margin: auto;

} */

/* .form-header {
    position: relative;
    top: -100px; */

}